<div class="footer">
  <div class="footer__top">

    <div class="footer__top__left">
      <div class="footer__top__left__a">
        <img src="../../../assets/images/me.jpeg" alt="">
      </div>
      <div class="footer__top__left__a">
        <h2>Fred Melchior</h2>
        <p>Desenvolvedor</p>
      </div>
    </div>
    <div class="footer__top__right">

      <div class="footer__top__right__links">

        <a href="mailto:frederico.melchior@gmail.com" target="_blank">
          <img
        src="../../../assets/images/icons8-e-mail-52.png"
        alt="E-mail">E-mail
        </a>

        <a href="https://www.linkedin.com/in/frederico-melchior/" target="_blank">
          <img
        src="../../../assets/images/icons8-linkedin-80.png"
        alt="Linkedin">Linkedin
        </a>

        <a href="https://github.com/fredMelchior" target="_blank">
          <img
        src="../../../assets/images/icons8-github-100.png"
        alt="Github">Github
        </a>

      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p>2024 - Fred Melchior &copy;</p>
  </div>
</div>
