<div class="container">
  <div class="section__header">
    <app-section-title
    title="Aqui você encontrá alguns projetos de que me orgulho muito em ter desevolvido!"
    subtitle=""
    titleclass="black"
    ></app-section-title>
  </div>
  <div class="section__items">
    <app-card
    title="Rede social"
    image="../../../assets/images/tweeter.png"
    desc="Esse é o Tweeter, projeto que fiz para concluir meu curso na EBAC."
    link="http://fredmelchior.pythonanywhere.com"
    ></app-card>
    <app-card
    title="Barista"
    image="../../../assets/images/fabio.png"
    desc="Esse é o espaço na web que construí para o Fabio."
    ></app-card>
    <!-- <app-card
    title="Site"
    image="http://placehold.it/360"
    desc="Descrição do modelo para site de alguma coisa."
    ></app-card> -->
  </div>
</div>
