<div class="container">
  <!-- <div class="section__header"> -->
    <app-section-title
    title="Conheça os modelos para o seu novo website!"
    subtitle="Encontre o melhor para o seu negócio e conquiste o seu espaço na internet!"
    btnclass="b2"
    ></app-section-title>
  <!-- </div> -->
  <div class="section__items">
    <app-card
    title="Ecommerce"
    image="../../../assets/images/eplay.png"
    desc="A Eplay é uma loja de games on-line pronta para vender."
    link="https://eplay-azure.vercel.app/"
    ></app-card>
    <app-card
    title="Evento"
    image="../../../assets/images/ebactalks.png"
    desc="Precisando dar aquele UP na conversão do seu evento?"
    link="https://ebac-talks-alpha.vercel.app"
    ></app-card>
    <app-card
    title="Food"
    image="../../../assets/images/efood.png"
    desc="Serviço de delivery on-line para um ou mais restaurantes."
    link="https://efood-weld.vercel.app"
    ></app-card>
  </div>
  <app-banner></app-banner>
  <div class="section__items">
    <app-card
    title="Landing page"
    image="../../../assets/images/ccc.png"
    desc="Página conectada às plataformas para a venda de infoprodutos. "
    link="https://cuidandocomcoracao.vercel.app"
    ></app-card>
    <app-card
    title="Portfolio I"
    image="../../../assets/images/pixelguy.png"
    desc="Coloque seus trabalhos e conquiste novos clientes."
    link="https://ebac-talks-alpha.vercel.app"
    ></app-card>
    <app-card
    title="Portfolio II"
    image="../../../assets/images/fabio.png"
    desc="Para você que precisa agregar valor ao seu trabalho."
    link="https://fabio-tchunay-web-site-ovms294rn-fred-melchior.vercel.app"
    ></app-card>
  </div>
</div>
