@import '../../app.component.scss';

// Container da sessão:
.container {
  @include bg-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  .section__header {
    margin: 0 auto;
    @include mobile {
      padding: 0;
    }
  }

  .section__items {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include desktop {
      justify-content: space-evenly;
    }
  }
}

