<div class="about container">

  <app-section-title
  title="Tudo o que você precisa saber para escolher o site perfeito"
  subtitle="Consulte os modelos, entenda o processo, simule um orçamento e tire suas dúvidas!"
  ></app-section-title>

  <div class="about__content">
    <div class="about__content__processo">
      <div class="about__content__processo__row">
        <!-- <div class="about__content__processo__row__image">
          <img src="" alt="">
        </div> -->
        <div class="about__content__processo__row__text">
          <h3>Modelos disponíveis</h3>
          <p>Os modelos são estruturas base para o seu website, cada um com funcionalidades específicas para cada tipo de negócio.</p>
          <p>Basta você escolher:</p>
          <ul>
            <li>Cores & temas</li>
            <li>Estilos de layout</li>
            <li>Fontes</li>
          </ul>
        </div>
      </div>

      <div class="about__content__processo__row">
        <!-- <div class="about__content__processo__row__image">
          <img src="" alt="">
        </div> -->
        <div class="about__content__processo__row__text">
          <h3>Sob medida</h3>
          <p>Claro que você pode optar por ter um site unicamente seu, criado do zero para atender o seu negócio.</p>
          <p>Vamos decidir juntos: </p>
          <ul>
            <li>Requisitos</li>
            <li>Funcionalidades</li>
            <li>Características adicionais</li>
          </ul>
        </div>
      </div>

      <div class="about__content__processo__row">
        <!-- <div class="about__content__processo__row__image">
          <img src="" alt="">
        </div> -->
        <div class="about__content__processo__row__text">
          <h3>Outros detalhes</h3>
          <p>Várias dúvidas podem surgir durante o processo, por isso estou aqui para te guiar! Você não precisa ser um expert em tecnologia para ter seu website.</p>
          <p>Também vou te ajudar com:</p>
          <ul>
            <li>Escolha do domínio</li>
            <li>Manutenção periódica</li>
            <li>Banco de dados</li>
            <li>Sistemas de pagamento</li>
            <li>Autenticação de usuários</li>
            <li>Integração</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
